<div class="chart-wrapper">
  <canvas baseChart width="400" height="300"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
  </canvas>
</div>
<div class="chart-wrapper">
  <canvas baseChart width="400" height="300"
      [datasets]="lineChartData2"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors2"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
  </canvas>
</div>
<div class="chart-wrapper">
  <canvas baseChart width="400" height="300"
      [datasets]="lineChartData3"
      [labels]="lineChartLabels2"
      [options]="lineChartOptions"
      [colors]="lineChartColors2"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
  </canvas>
</div>
