<section class="main">
  <!-- all the child section goes here -->
  <!-- Top Section -->
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Statewise Data
        </h1>
        <h1 class="title">
          {{ id }}
        </h1>
      </div>
    </div>
    <!-- Top Section -->
  </section>
  <!-- Card Section -->
  <section class="hero">
    <div class="hero-body">
        <div class="container" *ngIf="cardData">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box notification is-danger">
                      <p class="subtitle">CONFIRMED</p>
                        <p class="title">{{cardData.confirmed}}</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box notification is-info">
                        <p class="subtitle">ACTIVE</p>
                        <p class="title">{{cardData.active}}</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box notification is-light">
                        <p class="subtitle">DEATHS</p>
                        <p class="title">{{cardData.deaths}}</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box notification is-success">
                        <p class="subtitle">RECOVERED</p>
                        <p class="title">{{cardData.recovered}}</p>
                    </article>
                </div>
            </div>
          </div>
        </div>
</section>
  <!-- Card Section -->
  <section class="hero">
    <!-- Column Sections -->
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <!-- Column Left -->
          <div class="column">

            <h1 class="title">Districtwise Data</h1>
            <table
              class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
              Align="">
              <thead>
                <tr>
                  <!-- <th>Sl</th> -->
                  <th>District</th>
                  <th>Confirmed</th>
                  <th>Active</th>
                  <th>Deaths</th>
                  <th>Recovered</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let api of table | orderBy: 'confirmed'">
                  <td>{{ api.district }}</td>
                  <td>{{ api.confirmed }}</td>
                  <td>{{ api.active }}</td>
                  <td>{{ api.deceased }}</td>
                  <td>{{ api.recovered }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Column Left -->
          <!-- Column Right -->
          <div class="column">
          <h1 class="title">Corona Spread Trend</h1>
            <div class="chart-wrapper">
              <canvas
                baseChart width="400" height="300"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
              >
              </canvas>
            </div>
            <div class="chart-wrapper">
              <canvas
                baseChart width="400" height="300"
                [datasets]="lineChartData2"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors2"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
              >
              </canvas>
            </div>
          </div>
          <!-- Column Right -->
        </div>
      </div>
    </div>
    <!-- Column Sections -->
  </section>
  <!-- all the child section goes here -->
</section>
<div class="chart-wrapper">
  <canvas
    baseChart width="400" height="300"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins"
  >
  </canvas>
</div>
